
body {
	color: #777;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.625em;
	position: relative
}


a,
a:focus,
a:hover {
	text-decoration: none;
	outline: 0
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
	text-decoration: none;
	outline: 0
}

.btn i,
.btn-large i,
.btn-floating i,
.btn-large i,
.btn-flat i {
	font-size: 1em;
	line-height: inherit
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Poppins", sans-serif;
	color: #222;
	line-height: 1.2em !important;
	margin-bottom: 0;
	margin-top: 0;
	font-weight: 600
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin-bottom: 0;
	margin-top: 0;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	color: #222
}

h1,
.h1 {
	font-size: 36px
}

h2,
.h2 {
	font-size: 30px
}

h3,
.h3 {
	font-size: 24px
}

h4,
.h4 {
	font-size: 18px
}

h5,
.h5 {
	font-size: 16px
}

h6,
.h6 {
	font-size: 14px;
	color: #222
}

td,
th {
	border-radius: 0px
}

.mt-20 {
	margin-top: 20px
}

.mb-10 {
	margin-bottom: 10px
}

.mb-20 {
	margin-bottom: 20px
}

.pt-20 {
	padding-top: 20px
}

.pb-70 {
	padding-bottom: 70px
}

.pb-120 {
	padding-bottom: 120px
}

.text-white {
	color: #fff
}

.text-center {
	text-align: center
}

.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex
}

.flex-column {
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column
}

.relative {
	position: relative
}

.overflow-hidden {
	overflow: hidden
}

.overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0
}

h1 {
	font-size: 36px
}

h2 {
	font-size: 30px
}

h3 {
	font-size: 24px
}

h4 {
	font-size: 18px
}

h5 {
	font-size: 16px
}

h6 {
	font-size: 14px
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.5em
}

.genric-btn {
	display: inline-block;
	outline: none;
	line-height: 40px;
	padding: 0 30px;
	font-size: .8em;
	text-align: center;
	text-decoration: none;
	font-weight: 500;
	cursor: pointer;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

.genric-btn:focus {
	outline: none
}

.list-style {
	width: 14px;
	height: 14px
}

.header-top {
	padding: 20px 0px
}

.main-menu {
	padding-bottom: 20px;
	padding-top: 20px;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	padding-left: 15px;
	padding-right: 15px
}

#header {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	transition: all 0.5s;
	z-index: 997
}

#header.header-scrolled {
	transition: all 0.5s;
	background-color: rgba(34, 34, 34, 0.9)
}

#header.header-scrolled .header-top {
	display: none
}

#header.header-scrolled .main-menu {
	background: transparent;
	border: none
}

.nav-menu,
.nav-menu * {
	margin: 0;
	padding: 0;
	list-style: none
}

.nav-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	right: 0;
	z-index: 99
}

.nav-menu li {
	position: relative;
	white-space: nowrap
}

.nav-menu>li {
	float: left
}

.nav-menu li:hover>ul,
.nav-menu li.sfHover>ul {
	display: block
}

.nav-menu ul ul {
	top: 0;
	right: 100%
}

.nav-menu ul li {
	min-width: 180px
}

@media (max-width: 768px) {
	#nav-menu-container {
		display: none
	}
}

.nav-menu a {
	padding: 0 8px 0px 8px;
	text-decoration: none;
	display: inline-block;
	color: #fff;
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
	outline: none
}

.nav-menu li:hover>a {
	color: #ffd54f
}

.nav-menu>li {
	margin-left: 10px
}

.nav-menu ul {
	margin: 20px 0 0 0;
	padding: 10px;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	background: #fff
}

.nav-menu ul li {
	transition: 0.3s
}

.nav-menu ul li a {
	padding: 5px 10px;
	color: #333;
	transition: 0.3s;
	display: block;
	font-size: 12px;
	text-transform: none
}

.nav-menu ul li:hover>a {
	color: #ffd54f
}

.nav-menu ul ul {
	margin-right: 10px;
	margin-top: 0
}

#mobile-nav-toggle {
	float: right;
	z-index: 999;
	border: 0;
	background: none;
	font-size: 24px;
	display: none;
	transition: all 0.4s;
	outline: none;
	cursor: pointer
}

.menu-title {
	color: #fff;
	display: none
}

#mobile-nav-toggle i {
	color: #fff;
	font-weight: 900
}

@media (max-width: 991px) {
	#mobile-nav-toggle {
		display: inline
	}
	.menu-title {
		display: inline-block
	}
	#nav-menu-container {
		display: none
	}
}

#mobile-nav {
	position: fixed;
	top: 0;
	padding-top: 18px;
	bottom: 0;
	z-index: 998;
	background: rgba(0, 0, 0, 0.8);
	left: -260px;
	width: 260px;
	overflow-y: auto;
	transition: 0.4s
}

#mobile-nav ul {
	padding: 0;
	margin: 0;
	list-style: none
}

#mobile-nav ul li {
	position: relative
}

#mobile-nav ul li a {
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	overflow: hidden;
	padding: 10px 22px 10px 15px;
	position: relative;
	text-decoration: none;
	width: 100%;
	display: block;
	outline: none;
	font-weight: 400
}

#mobile-nav ul li a:hover {
	color: #fff
}

#mobile-nav ul li li {
	padding-left: 30px
}

#mobile-nav ul .menu-has-children i {
	position: absolute;
	right: 0;
	z-index: 99;
	padding: 15px;
	cursor: pointer;
	color: #fff
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
	color: #ffd54f
}

#mobile-nav ul .menu-has-children li a {
	text-transform: none
}

#mobile-nav ul .menu-item-active {
	color: #ffd54f
}

#mobile-body-overly {
	width: 100%;
	height: 100%;
	z-index: 997;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(0, 0, 0, 0.7);
	display: none
}

body.mobile-nav-active {
	overflow: hidden
}

body.mobile-nav-active #mobile-nav {
	left: 0
}

body.mobile-nav-active #mobile-nav-toggle {
	color: #fff
}

.section-gap {
	padding: 120px 0
}

.alert-msg {
	color: #fff
}

#logo {
	padding-left: 15px
}

#nav-menu-container {
	padding-right: 15px
}

.primary-btn {
	background: #ffd54f;
	line-height: 42px;
	padding-left: 30px;
	padding-right: 30px;
	border: none;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	position: relative;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	cursor: pointer;
	position: relative
}

.primary-btn:focus {
	outline: none
}

.primary-btn span {
	color: #fff;
	position: absolute;
	top: 50%;
	transform: translateY(-60%);
	right: 30px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

.primary-btn:hover {
	color: #fff
}

.primary-btn:hover span {
	color: #fff;
	right: 20px
}

.primary-btn.white {
	border: 1px solid #fff;
	color: #fff
}

.primary-btn.white span {
	color: #fff
}

.primary-btn.white:hover {
	background: #fff;
	color: #ffd54f
}

.primary-btn.white:hover span {
	color: #ffd54f
}

.overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0
}

.banner-area {
	background: url(../img/banner.jpg) center center/cover;
	background-size: cover
}

@media (max-width: 767px) {
	.banner-area {
		height: 767px !important
	}
}

.banner-content {
	margin-top: 100px
}

@media (max-width: 1024px) {
	.banner-content {
		margin-top: 100px
	}
}

@media (max-width: 736px) and (min-width: 415px) {
	.banner-content {
		margin-top: 240px
	}
}

.banner-content h6 {
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 2px
}

.banner-content h1 {
	font-size: 60px;
	font-weight: 700;
	margin: 20px 0
}

@media (max-width: 767px) {
	.banner-content h1 {
		font-size: 40px
	}
}

.banner-content p {
	max-width: 515px;
	margin-bottom: 30px
}

.banner-content .primary-btn:hover {
	background: #222;
	color: #fff
}

.home-about-left p {
	margin: 20px 0;
	max-width: 490px
}

.home-about-left .primary-btn:hover {
	box-shadow: 0px 20px 20px 0px rgba(245, 63, 81, 0.2)
}

@media (max-width: 991px) {
	.home-about-left {
		margin-bottom: 50px
	}
}

.menu-area {
	background: #f9f9ff
}

.menu-area .primary-btn {
	color: #fff;
	background-color: #ffd54f;
	margin-left: auto;
	margin-right: auto
}

.filter-wrap {
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 10px 30px 0px rgba(153, 153, 153, 0.2)
}

.menu-area .filters {
	text-align: center
}

.menu-area .filters {
	padding: 0;
	overflow: hidden
}

.filter-wrap {
	display: table
}

.filter-wrap li {
	display: table-cell;
	border-right: 1px solid #edf6ff
}

@media (max-width: 414px) {
	.filter-wrap li {
		display: block !important
	}
}

.filter-wrap li:last-child {
	border: none
}

.menu-area .filters li {
	padding: 40px 0px;
	max-width: 184px;
	cursor: pointer;
	position: relative;
	color: #222;
	font-size: 12px;
	font-weight: 500
}

@media (max-width: 768px) {
	.menu-area .filters li {
		padding: 20px 0px
	}
}

@media (max-width: 767px) {
	.menu-area .filters li {
		padding: 12px 0px;
		font-size: 10px
	}
}

@media (max-width: 414px) {
	.menu-area .filters li {
		max-width: 100% !important
	}
}

.menu-area .filters li:last-child {
	border-right: none
}

.menu-area .filters li.active {
	color: #fff;
	background: #ffd54f
}

.menu-area .filters-content {
	margin-top: 50px
}

.menu-area .filters-content .show {
	opacity: 1;
	visibility: visible;
	transition: all 350ms
}

.menu-area .filters-content .hide {
	opacity: 0;
	visibility: hidden;
	transition: all 350ms
}

.menu-area .filters-content .item {
	text-align: center;
	cursor: pointer;
	margin-bottom: 30px
}

.menu-area .filters-content .item img {
	border-radius: 10px
}

.menu-area .filters-content .p-inner {
	padding: 20px 0px;
	text-align: center
}

.menu-area .filters-content .item .p-inner .cat {
	font-size: 13px
}

.menu-area .filters-content .item img {
	width: 100%
}

.single-menu {
	background: #fff;
	border-radius: 10px;
	padding: 30px;
	margin-top: 20px
}

.single-menu .title-wrap {
	margin-bottom: 20px
}

.single-menu p {
	margin-bottom: 0px;
	max-width: 392px
}

.single-menu .price {
	color: #ffd54f
}

.reservation-area {
	background: url(../img/reservation-bg.jpg) no-repeat center/cover
}

.reservation-area .overlay-bg {
	background: rgba(17, 22, 24, 0.75)
}

.reservation-area .reservation-right,
.reservation-area .reservation-left {
	position: relative
}

.reservation-area .reservation-right .form-wrap {
	background: #fff;
	padding: 100px 40px
}

.reservation-area .reservation-right .form-wrap .form-control {
	border-radius: 0px;
	margin-bottom: 10px;
	border-color: #eeeeee;
	font-size: 13px;
	font-weight: 300;
	padding: 0.575rem 0.75rem;
	color: #999999
}

.reservation-area .reservation-right .form-wrap .form-control:focus {
	box-shadow: none
}

.reservation-area .reservation-right .form-wrap .nice-select {
	border: 1px solid #eeeeee
}

.reservation-area .reservation-right .primary-btn {
	text-transform: capitalize !important;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

.reservation-area .reservation-right .primary-btn:hover {
	box-shadow: -14.142px 14.142px 20px 0px rgba(244, 47, 44, 0.2)
}

.reservation-area .reservation-right .nice-select {
	padding-left: 12px;
	padding-right: 0px
}

.reservation-area .reservation-right .nice-select .list {
	border: 1px solid #eee
}

.reservation-area .reservation-right .nice-select .list .option {
	padding-left: 12px
}

@media (max-width: 991px) {
	.reservation-area .reservation-right {
		margin-top: 50px
	}
}

.gallery-area {
	background: #f9f9ff
}

.gallery-area .primary-btn {
	color: #fff;
	background-color: #ffd54f;
	margin-left: auto;
	margin-right: auto
}

.filter-wrap {
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 10px 30px 0px rgba(153, 153, 153, 0.2)
}

.gallery-area .filters {
	text-align: center
}

.gallery-area .filters {
	padding: 0;
	overflow: hidden
}

.filter-wrap {
	display: table
}

.filter-wrap li {
	display: table-cell;
	border-right: 1px solid #edf6ff
}

.filter-wrap li:last-child {
	border: none
}

.gallery-area .filters li {
	padding: 40px 0px;
	max-width: 184px;
	cursor: pointer;
	position: relative;
	color: #222;
	font-size: 12px;
	font-weight: 500
}

@media (max-width: 768px) {
	.gallery-area .filters li {
		padding: 20px 0px
	}
}

@media (max-width: 767px) {
	.gallery-area .filters li {
		padding: 12px 0px;
		font-size: 10px
	}
}

.gallery-area .filters li:last-child {
	border-right: none
}

.gallery-area .filters li.active {
	color: #fff;
	background: #ffd54f
}

.gallery-area .filters-content {
	margin-top: 50px
}

.gallery-area .filters-content .show {
	opacity: 1;
	visibility: visible;
	transition: all 350ms
}

.gallery-area .filters-content .hide {
	opacity: 0;
	visibility: hidden;
	transition: all 350ms
}

.gallery-area .filters-content .item {
	text-align: center;
	cursor: pointer;
	margin-bottom: 30px
}

.gallery-area .filters-content .item img {
	border-radius: 10px
}

.gallery-area .filters-content .p-inner {
	padding: 20px 0px;
	text-align: center
}

.gallery-area .filters-content .item .p-inner .cat {
	font-size: 13px
}

.gallery-area .filters-content .item img {
	width: 100%
}

.gallery-area .filters-content {
	margin-top: 50px
}

.gallery-area .filters-content .show {
	opacity: 1;
	visibility: visible;
	transition: all 350ms
}

.gallery-area .filters-content .hide {
	opacity: 0;
	visibility: hidden;
	transition: all 350ms
}

.gallery-area .filters-content .item {
	text-align: center;
	cursor: pointer;
	margin-bottom: 30px
}

.gallery-area .filters-content .item img {
	border-radius: 10px
}

.gallery-area .filters-content .p-inner {
	padding: 20px 0px;
	text-align: center
}

.gallery-area .filters-content .item .p-inner .cat {
	font-size: 13px
}

.gallery-area .filters-content .item img {
	width: 100%
}

.single-gallery {
	margin-bottom: 30px
}

.single-gallery img {
	width: 100%
}

.link-nav {
	margin-top: 10px;
	margin-bottom: 0px
}

.about-banner {
	background: url(../img/top-banner.jpg) no-repeat bottom right/cover;
	background-size: cover
}

.about-banner .overlay-bg {
	background: rgba(4, 9, 30, 0.4)
}

.about-content {
	margin-top: 185px;
	padding: 90px 0px;
	text-align: center
}

.about-content h1 {
	font-size: 36px;
	font-weight: 600
}

.about-content a {
	color: #fff;
	font-weight: 300;
	font-size: 14px
}

.about-content .lnr {
	margin: 0px 10px;
	font-weight: 600
}

.single-service .thumb {
	overflow: hidden
}

.single-service .thumb img {
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	width: 100%
}

.single-service h4 {
	margin: 20px 0
}

.single-service:hover h4 {
	color: #ffd54f
}

.single-service:hover .thumb img {
	transform: scale(1.1)
}

@media (max-width: 991px) {
	.single-service {
		margin-bottom: 30px
	}
}

.page-link {
	background: transparent;
	font-weight: 400
}

.sidebar-widgets {
	padding-bottom: 120px
}

.widget-wrap {
	background: #fafaff;
	padding: 20px 0px;
	border: 1px solid #eee
}

@media (max-width: 991px) {
	.widget-wrap {
		margin-top: 50px
	}
}

.widget-wrap .single-sidebar-widget {
	margin: 30px 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #eee
}

.widget-wrap .single-sidebar-widget:last-child {
	border-bottom: none;
	margin-bottom: 0px
}

.widget-wrap .search-widget form.search-form input[type=text] {
	color: #fff;
	padding: 10px 22px;
	font-size: 14px;
	border: none;
	float: left;
	width: 80%;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	background: #ffd54f
}

.widget-wrap .search-widget ::-webkit-input-placeholder {
	color: #fff
}

.widget-wrap .search-widget ::-moz-placeholder {
	color: #fff
}

.widget-wrap .search-widget :-ms-input-placeholder {
	color: #fff
}

.widget-wrap .search-widget :-moz-placeholder {
	color: #fff
}

.widget-wrap .search-widget form.search-form button {
	float: left;
	width: 20%;
	padding: 10px;
	background: #ffd54f;
	color: #fff;
	font-size: 17px;
	border: none;
	cursor: pointer;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px
}

.widget-wrap .search-widget form.search-form::after {
	content: "";
	clear: both;
	display: table
}

.widget-wrap .user-info-widget {
	text-align: center
}

.widget-wrap .user-info-widget a h4 {
	margin-top: 40px;
	margin-bottom: 5px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

.widget-wrap .user-info-widget .social-links li {
	display: inline-block;
	margin-bottom: 10px
}

.widget-wrap .user-info-widget .social-links li a {
	color: #222;
	padding: 10px;
	font-size: 14px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

.widget-wrap .user-info-widget .social-links li a:hover {
	color: #ffd54f
}

.widget-wrap .popular-post-widget .popular-title {
	background: #ffd54f;
	color: #fff;
	text-align: center;
	padding: 12px 0px
}

.widget-wrap .popular-post-widget .popular-post-list {
	margin-top: 30px
}

.widget-wrap .popular-post-widget .popular-post-list .thumb img {
	width: 100%
}

.widget-wrap .ads-widget img {
	width: 100%
}

.widget-wrap .tag-cloud-widget .tagcloud-title {
	background: #ffd54f;
	color: #fff;
	text-align: center;
	padding: 12px 0px;
	margin-bottom: 30px
}

.widget-wrap .tag-cloud-widget ul li {
	display: inline-block;
	border: 1px solid #eee;
	background: #fff;
	padding: 4px 14px;
	margin-bottom: 10px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

.widget-wrap .tag-cloud-widget ul li:hover {
	background: #ffd54f
}

.widget-wrap .tag-cloud-widget ul li:hover a {
	color: #fff
}

.widget-wrap .tag-cloud-widget ul li a {
	font-size: 12px;
	color: #222
}

.contact-page-area {
	background: #f9f9ff
}

.contact-page-area .map-wrap {
	margin-bottom: 120px
}

@media (max-width: 991px) {
	.contact-page-area .map-wrap {
		margin-bottom: 50px
	}
}

.contact-page-area .contact-btns {
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	padding: 40px;
	color: #fff;
	margin-bottom: 30px
}

.contact-page-area .contact-btns:hover {
	color: #fff
}

.contact-page-area .form-area .form-control:focus {
	box-shadow: none !important;
	border-color: #ced4da !important
}

.contact-page-area .form-area input {
	padding: 15px
}

.contact-page-area .form-area input,
.contact-page-area .form-area textarea {
	border-radius: 0;
	font-size: 13px !important
}

.contact-page-area .form-area textarea {
	height: 190px;
	margin-top: 0px;
	padding: 15px
}

.contact-page-area .form-area .genric-btn {
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	border-radius: 0 !important;
	font-size: 14px;
	text-transform: uppercase !important
}

.contact-page-area .form-area .genric-btn:hover {
	border: 1px solid #ffd54f;
	color: #ffd54f !important
}

@media (max-width: 991px) {
	.contact-page-area .address-wrap {
		margin-bottom: 30px
	}
}

.contact-page-area .address-wrap .single-contact-address {
	margin-bottom: 8px
}

.contact-page-area .address-wrap .single-contact-address h5 {
	font-weight: 300;
	font-size: 16px;
	margin-bottom: 5px
}

.contact-page-area .address-wrap .single-contact-address .lnr {
	font-size: 30px;
	font-weight: 500;
	color: #ffd54f;
	margin-right: 30px
}

.footer-area h4 {
	padding-bottom: 30px
}

.footer-area .number {
	color: #fff;
	font-size: 24px;
	font-weight: 600;
	line-height: 30px
}

.footer-area .genric-btn {
	background: #ffd54f;
	border: none;
	border-radius: 57px;
	height: 36px;
	line-height: 41px
}

.footer-area .primary-btn {
	background-color: #ffd54f
}

.footer-area .primary-btn:hover .lnr {
	color: #ffd54f
}

.footer-area .single-footer-widget h4 {
	color: #fff
}

@media (max-width: 768px) {
	.footer-area .single-footer-widget .newsletter .primary-btn {
		right: 2% !important;
		width: auto;
		right: 0;
		top: 5px;
		transform: translate(0%, 0)
	}
}

.footer-widget-wrap {
	background: #ffd54f;
	color: #fff
}

@media (max-width: 991px) {
	.single-footer-widget {
		margin-bottom: 30px
	}
}

.single-footer-widget .navbar-form {
	width: 100%
}

.single-footer-widget .navbar-form .form-control {
	border: none;
	border-radius: 20px;
	font-size: 13px;
	background-color: #f9f9ff;
	border: 1px solid #f9f9ff
}

.single-footer-widget .navbar-form .form-control:focus {
	box-shadow: none !important
}

.single-footer-widget .navbar-form .add-on {
	background: #f9f9ff;
	border-radius: 20px;
	border: 1px solid #fff
}

.single-footer-widget .navbar-form .genric-btn {
	padding: 0px
}

.single-footer-widget .navbar-form .genric-btn:hover {
	background-color: #ffd54f
}

.single-footer-widget .navbar-form .genric-btn:hover .lnr {
	color: #fff
}

.single-footer-widget .navbar-form .error {
	color: #fff
}

.single-footer-widget .navbar-form .lnr {
	padding: 11px;
	font-weight: 900;
	font-size: 13px !important;
	color: #fff
}

.single-footer-widget .hr-list li {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(238, 238, 238, 0.3)
}

.footer-bottom-wrap {
	background: #222;
	color: #fff
}

.footer-bottom {
	padding: 15px 0px
}

@media (max-width: 991px) {
	.footer-bottom .social-icons {
		text-align: left !important;
		margin-top: 15px
	}
}

.footer-bottom .social-icons li {
	display: inline-block
}

.footer-bottom .social-icons li a {
	display: inline-block;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #111111;
	color: #fff;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

.footer-bottom .social-icons li a:hover {
	background: #ffd54f;
	color: #111111
}

.footer-text a,
.footer-text i {
	color: #ffd54f
}